<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="QiwiLogin" value="2338" />
    <add key="QiwiPassword" value="a2481186" />
    <add key="QiwiUrl" value="https://ishop.qiwi.ru/xml" />
  </appSettings>
  <connectionStrings>
    <add name="DataContext"
         connectionString="data source=.;Initial catalog=Studmix.TestStand;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>