@{
    ViewBag.Title = "Панель администрирования";
}

<fieldset>
    <legend>Панель администрирования</legend>
    <p>
        @Html.ActionLink("Пользователи", "Users", new {id = 0})
    </p>
</fieldset>