@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Неизвестная ошибка";
}

<h5>
    При выполнении запроса произошла ошибка. Администратор был уведомлен. Приносим свои извинения.
</h5>