
@{
    ViewBag.Title = "Руководство по использованию Qiwi-кошелька";
}
<table>
    <tr>
        <td>
            <img src='@Url.Content("~/Content/images/qiwi_logo_1.jpg")' width=150 alt=""></img>
        </td>
        <td>
            <p>С помощью <a href="http://w.qiwi.ru/">QIWI Кошелька</a> вы можете поплнять баланс на нашем сайте <b>моментально</b> и <b>без комиссии</b>.</p>
            <p>            Для этого:
                <br />
                1. В личном кабинете проидите по ссылке "Пополнить баланс";
                <br />
                2. Укажите сумму, на которую вы хотели бы пополнить свой баланс;
                <br />
                3. Нажмите на кнопку "Выставить счет к оплате";
                <br />
                4. Оплатите автоматически созданный счет на оплату: на <a href="http://w.qiwi.ru/">сайте</a>, в терминале QIWI, с помощью приложений для социальных сетей или мобильных телефонов.
                <br />
            </p>            Более подробно о способах оплаты счета вы можете прочитать в <a href="http://ishopnew.qiwi.ru/files/qiwi_instruction.doc">инструкции для покупателей</a>

            <p>
                QIWI Кошелек легко <a href="http://w.qiwi.ru/fill.action">пополнить</a> в терминалах QIWI и партнеров, салонах сотовой связи, супермаркетах, банкоматах или интернет-банк.

                <br />
                Совершать платежи Вы можете не только со счета QIWI Кошелька, но и банковской картой, наличными, а также с лицевого счета мобильного телефона Билайн, МегаФон, МТС.

                <br />
                Если у Вас еще нет QIWI Кошелька – Вы можете зарегистрировать его на <a href="http://w.qiwi.ru/">сайте</a> сервиса или в любом из приложений QIWI Кошелька за несколько минут.
            </p>
            Остались вопросы? Задайте их в официальном <a href="http://qiwi-in-use.livejournal.com/">блоге</a> компании.
        </td>
    </tr>
</table>