@model AI_.Studmix.WebApplication.ViewModels.Shared.InformationViewModel

@{
    ViewBag.Title = Model.Title;
}
<div>
    @foreach (var linkInfo in Model.ActionLinks)
    {
        <p>
            <a href="@linkInfo.Url">@linkInfo.LinkText</a>        
        </p>
    }
</div>