@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewBag.Message</h3>
<p>
    КРУПНЕЙШАЯ БАЗА ГОТОВЫХ УЧЕБНЫХ РАБОТ и литературы
Пройдите по ссылкам к вашему заданию и скачайте или загрузите свою работу.
</p>
