/* ui.combobox   
----------------------------------------------------------*/
.ui-button {
    margin-left: -1px;
}

.ui-button-icon-only .ui-button-text {
    padding: 0.35em;
    height: 1em;
    margin-top: -3px;
    margin-bottom: 1px;
}

.ui-autocomplete-input {
    margin: 0;
    padding: 0.48em 0 0.47em 0.45em;
}

/* MISC   
----------------------------------------------------------*/
.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
