@using AI_.Studmix.WebApplication.ViewModels.Admin
@using MvcContrib.UI.Pager
@model UsersViewModel

@{
    ViewBag.Title = "Администрирование пользователями";
}

<table>
    <tr>
        <th>Список пользователей системы</th>
    </tr>

@foreach (var user in Model.UsersPagination) {
    <tr>
        <td>
            <div>Логин: <strong>@user.UserName</strong> </div>
            <div>ID: <strong>@user.ID</strong></div>
            @Html.ActionLink("Details", "UserDetails", new {id = user.UserName})
        </td>
    </tr>
}

</table>
<p>
    @(Html.Pager(Model.UsersPagination)
           .QueryParam("id")
           .Format("{0} - {1} / {2}")
           .Next(">>")
           .First("")
           .Last("")
           .Previous("<<"))
</p>
